@model GovUk.Education.SearchAndCompare.UI.Shared.ViewModels.CourseDetailsViewModel;

@using GovUk.Education.SearchAndCompare.Domain.Models;
@using GovUk.Education.SearchAndCompare.Domain.Models.Enums;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewFormatters;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewModels;

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m" id="section-apply">Apply</h2>
  <p class="govuk-body">
    <a href="https://2018.teachertraining.apply.ucas.com/apply/student/login.do" class="govuk-link">Apply on the UCAS website</a>. You'll need to register before you can apply.
  </p>
  <p class="govuk-body">
    You'll need these codes for the Choices section of the application form:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>training provider code: @Model.Course.Provider.ProviderCode</li>
    <li>training programme code: @Model.Course.ProgrammeCode</li>
    @if (Model.Course.Campuses.Count() == 0)
    {
      <li>training location or campus code: leave empty</li>
    }
  </ul>

  @if (Model.Course.Campuses.Count() > 0)
  {
    <p class="govuk-body">You’ll also need to choose a training location and give the relevant training location code.</p>
    <p class="govuk-body">Available training locations:</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Address</th>
          <th class="govuk-table__header" scope="col">Code</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        @foreach (var campus in Model.Course.Campuses)
        {
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">@campus.Name</td>
            <td class="govuk-table__cell">@campus.Location?.Address</td>
            <td class="govuk-table__cell">@campus.CampusCode</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
