@model GovUk.Education.SearchAndCompare.UI.Shared.ViewModels.CourseDetailsViewModel;

@using GovUk.Education.SearchAndCompare.Domain.Models;
@using GovUk.Education.SearchAndCompare.Domain.Models.Enums;
@using GovUk.Education.SearchAndCompare.UI.Shared.Features
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewFormatters;
@using GovUk.Education.SearchAndCompare.UI.Shared.ViewModels;
@using Microsoft.AspNetCore.Mvc.Razor.Extensions
@inject IFeatureFlags FeatureFlags

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-apply">Apply</h2>
  @if (Model.Course.HasVacancies == false)
  {
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You can't apply for this course because it currently has no vacancies. To find courses with vacancies, change your search settings to 'Only courses with vacancies'.
      </strong>
    </div>
  }
  else
  {

    @if (
      Model.Course.Provider.ProviderCode == "R55" ||
      Model.Course.Provider.ProviderCode == "1N1" ||
      Model.Course.Provider.ProviderCode == "S31" ||
      Model.Course.Provider.ProviderCode == "24L" ||
      Model.Course.Provider.ProviderCode == "1HQ" ||
      Model.Course.Provider.ProviderCode == "L06" ||
      Model.Course.Provider.ProviderCode == "2LR" ||
      Model.Course.Provider.ProviderCode == "254" ||
      Model.Course.Provider.ProviderCode == "12K" ||
      Model.Course.Provider.ProviderCode == "1OT"
    )
    {
      <p class="govuk-body">
        <a href="https://www.apply-for-teacher-training.education.gov.uk/candidate/apply?providerCode=@Model.Course.Provider.ProviderCode&courseCode=@Model.Course.ProgrammeCode" class="govuk-button govuk-button--start">Apply for this course</a>
      </p>
    }
    else
    {
      <p class="govuk-body">
        <a href="https://2020.teachertraining.apply.ucas.com/apply/student/login.do">Apply on the UCAS website</a>. You’ll need to register with UCAS before you can apply.
      </p>
      <p class="govuk-body">
        Visit Get into Teaching for <a href="https://getintoteaching.education.gov.uk/how-to-apply/apply">guidance on applying for teacher training</a>.
      </p>

      <p class="govuk-body">
        When you apply you’ll need these codes for the Choices section of your application form:
      </p>
      <div class="govuk-inset-text">
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-2">
            Training provider code:
            <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">@Model.Course.Provider.ProviderCode</span>
          </li>
          <li>
            Training programme code:
            <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">@Model.Course.ProgrammeCode</span>
          </li>
        </ul>
      </div>
    }

    if (Model.Course.Campuses.Count() > 0)
    {
    <h3 class="govuk-heading-m">Choose a training location</h3>
    <p class="govuk-body">You’ll also need to choose a training location – select the relevant location name on the application form.</p>
    <div id="locations-map" class="google-map--locations"></div>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Location</th>
            <th class="govuk-table__header" scope="col">Vacancies</th>
            <th class="govuk-table__header" scope="col">Code</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          @foreach (var campus in Model.Course.Campuses.OrderBy(c => c.Name))
          {
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>@campus.Name</strong>
                <br/>
                @campus.Location?.Address
              </td>

              <td class="govuk-table__cell">
                @(string.IsNullOrWhiteSpace(campus.VacStatus) ? "No" : "Yes")
                </td>
              <td class="govuk-table__cell">@campus.CampusCode</td>
            </tr>
          }
        </tbody>
      </table>
    }
  }
</div>

<script>
  window.trainingLocations = [
    @foreach (var campus in Model.Course.Campuses)
    {
      <text>
        {
          "code": "@campus.CampusCode",
          "name": "@campus.Name",
          "lat": "@(campus.Location == null ? Model.Course.ProviderLocation?.Latitude : campus.Location.Latitude)",
          "lng": "@(campus.Location == null ? Model.Course.ProviderLocation?.Longitude : campus.Location.Longitude)",
          "address": "@campus.Location?.Address",
          "vacancies": "@(string.IsNullOrWhiteSpace(campus.VacStatus) ? "No vacancies" : "")"
        },
      </text>
    }
  ]
</script>
