@model ResultsViewModel

@{
    var sortByEnumType = typeof(SortByOption);
}

<div class="form-group">
    @if (Model.MapsEnabled) {
    <div class="left">
        @if (Model.FilterModel.DisplayAsMap){
            <a href="@Url.Action("Index", "Results", RoutingUtil.Combine(Model.FilterModel.ToRouteValues(), new { display = "list" }))"
            class="view-list-link">View as a list</a>
        } else if (Model.FilterModel.LocationFilterActive()) {
            <a href="@Url.Action("Index", "Results", RoutingUtil.Combine(Model.FilterModel.ToRouteValues(), new { display = "map" }))"
            class="view-map-link">View on a map</a>
        }
    </div>
    }
    @if (!Model.FilterModel.DisplayAsMap){
    <div class="right">
        <form action='@Url.Action("SortBy", "Results", Model.FilterModel.ToRouteValues())' method="POST">
            <label class="form-label sortedby-label" for="sortby">Sorted by</label>
            <select class="form-control trigger-result-update sortby-selector"
                    onchange="this.form.submit()"
                    aria-label="Sort by"
                    role="listbox"
                    name="sortby"
                    id="sortby">
                @foreach(SortByOption option in Model.FilterModel.ValidSortings)
                {
                    if (option == Model.FilterModel.SortBy) {
                        <option value="@((int) option)" selected>@option.FormattedName()</option>
                    }
                    else {
                        <option value="@((int) option)">@option.FormattedName()</option>
                    }
                }
            </select>
            <noscript>
                <input class="button" type="submit" value="Update" aria-label="Update sort order"/>
            </noscript>
        </form>
    </div>
    }
</div>