@model ResultsViewModel

@{
    ViewData["Title"] = "Search Results";
}

@Html.Partial("Back", Url.Action("Index", "Home", (ViewData["Filter"] as ResultsFilterViewModel)?.ToRouteValues()))

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Teacher training courses
        </h1>
    </div>
    <div class="column-one-third">
    </div>
</div>
<div class="grid-row">
    <div class="column-one-third">
        @Html.Partial("Filters/Location", Model.FilterModel)
        @Html.Partial("Filters/Subject", Model)
    </div>

    <div class="column-two-thirds">
        <div class="search-results-header">
            <div class="found-heading">
                <p class="found-count">@Model.Courses.TotalCount courses found</p>
                <p class="new-search"><a href='@Url.Action("Index", "Results")'>New search</a></p>
            </div>
            @Html.Partial("SortBy", Model.FilterModel)
        </div>
        <ul>
        @foreach (var item in Model.Courses) {
            var subjects = @item.CourseSubjects.Select(courseSubject => courseSubject.Subject.Name).ToArray();
            <li class="bat_searchresult">
                <h3 class="heading-medium">
                    <a href='@Url.Action("Index", "Course", RoutingUtil.Combine(Model.FilterModel.ToRouteValues(), new {courseId = item.Id}))' class="link">@item.Name</a>
                </h3>
                <dl>                
                    <dt>Training provider</dt>
                    <dd>@item.Provider.Name</dd>
                    
                    @if (item.ProviderLocation != null) {
                        <dt>Training provider&apos;s location</dt>
                        <dd>@item.ProviderLocation.Address</dd>
                    }

                    <dt>Study type</dt>
                    <dd>@String.Join(", ", item.GetStudyTypes())</dd>

                    <dt>Vacancies</dt>
                    <dd>@item.GetNumberOfVacancies()</dd>

                    <dt>Funding</dt>
                    <dd>@item.FundingAvailable()</dd>

                    @if (item.Distance != null) {
                        <dt>Distance from your postcode</dt>
                        <dd>@item.FormattedDistance()</dd>
                    }
                </dl>
            </li>
        }
        </ul>
        @Html.Partial("Pagination", Model)
    </div>
</div>
