@model ResultsViewModel

@{
  var sortByEnumType = typeof(SortByOption);
}

<div class="search-results-header">
  <div class="govuk-grid-row">
    @if (Model.MapsEnabled) {
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body search-results-header__cta">
          @if (Model.FilterModel.DisplayAsMap){
            <a href="@Url.Action("Index", "Results", RoutingUtil.Combine(Model.FilterModel.ToRouteValues(), new { display = "list" }))" class="govuk-link">
              View as a list
            </a>
          } else if (Model.FilterModel.LocationFilterActive) {
            <a href="@Url.Action("ResultsMap", "Results", RoutingUtil.Combine(Model.FilterModel.ToRouteValues(), new { display = "map" }))" class="govuk-link">
              View on a map
            </a>
          }
        </p>
      </div>
    }

    @if (!Model.FilterModel.DisplayAsMap && string.IsNullOrWhiteSpace(Model.FilterModel.query)) {
      <div class="@(Model.MapsEnabled ? "govuk-grid-column-two-thirds": "govuk-grid-column-full")">
        <form action='@Url.Action("SortBy", "Results", Model.FilterModel.ToRouteValues())' class="govuk-form" method="POST">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--inline sortedby-label" for="sortby">Sorted by</label>
            <select class="govuk-select trigger-result-update sortby-selector"
                    onchange="this.form.submit()"
                    aria-label="Sort by"
                    role="listbox"
                    name="sortby"
                    id="sortby">
                    @foreach(SortByOption option in Model.FilterModel.ValidSortings)
                    {
                      if (option == Model.FilterModel.SortBy) {
                        <option value="@((int) option)" selected>@option.FormattedName()</option>
                      }
                      else {
                        <option value="@((int) option)">@option.FormattedName()</option>
                      }
                    }
            </select>
          </div>
          <input class="govuk-button" type="submit" value="Update" aria-label="Update sort order"/>
        </form>
      </div>
    }
  </div>
</div>
