@model FundingFilterViewModel

@{
    ViewBag.Title = $"Filter by financial support options";
    var isInWizard = ViewBag.IsInWizard == true;
    var errors = ViewBag.Errors as ErrorViewModel;
}

@if(isInWizard) {
    @* PRIVATE_BETA_HACK *@
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("LocationWizard", "Filter", Model.FilterModel.ToRouteValues()),
        Title = "Back to location"
    })
} else {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Results", Model.FilterModel.ToRouteValues()),
        Title = "Back to search results"
    })
}

<div class="grid-row">
    <div class="column-two-thirds">
        @Html.Partial("Error", errors)
        <form action='@Url.Action(isInWizard ? "FundingWizard": "Funding", "Filter", Model.FilterModel.ToRouteValues())' method="POST">
            <fieldset role="radiogroup" aria-required="true">
                <legend role="heading">
                    <h1 class="heading-xlarge">Financial support while you&nbsp;train</h1>
                </legend>
                <p>
                    Business studies courses come with either student finance (a tuition fee loan and maintenance loan, if you’re eligible) or a salary.
                </p>

                <div class="form-group @(errors.HasError("applyFilter") ? "form-group-error" : "")" id="applyFilter-container">
                    <div class="multiple-choice multiple-radio">
                        <input id="applyFilter-all" type="radio" name="applyFilter" value="false" checked="@(Model.FilterModel.SelectedFunding == FundingOption.All)">
                        <label for="applyFilter-all" class="multi-choice-label">
                            <strong class="bold">All courses (with salaries or with student finance)</strong><br />
                            @Model.AllCount courses
                        </label>
                    </div>

                    <div class="multiple-choice multiple-radio">
                        <input id="applyFilter-some" type="radio" name="applyFilter" value="true" checked="@(errors.HasError("funding") || (Model.FilterModel.SelectedFunding != null && Model.FilterModel.SelectedFunding != FundingOption.All))">
                        <label for="applyFilter-some" class="multi-choice-label">
                            <strong class="bold">Only courses that come with a salary</strong><br />
                            @Model.SalaryCount courses
                        </label>
                    </div>

                    <input type="hidden" name="includeBursary" value="true">
                    <input type="hidden" name="includeScholarship" value="true">
                    <input type="hidden" name="includeSalary" value="true">
                </div>
            </fieldset>

            <p>You can <a href="https://www.gov.uk/student-finance">find out more about student finance and the eligibility requirements</a>.</p>

            <div class="filter-apply-button">
                <input class="button" type="submit" value="Find courses">
            </div>

            <h2 class="heading-medium">
                Other financial support
            </h2>
            <p>
                Some other subjects offer different types of financial support for trainee teachers. You can find out more about <a href="https://getintoteaching.education.gov.uk/funding-and-salary/overview/funding-by-subject">financial support for trainee teachers</a> on the Get into Teaching website.
            </p>
        </form>
    </div>
</div>
