@model LocationFilterViewModel

@{
    ViewBag.Title = $"Filter by location";
    var isInWizard = ViewBag.IsInWizard == true;
}

@if (isInWizard) {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Home"),
        Title = "Return to start page"
    })
} else {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Results", Model.FilterModel.ToRouteValues()),
        Title = "Return to search results"
    })
}     

<div class="grid-row">
    <div class="column-full">
        @Html.Partial("Error", Model.Error)                
                
        <form action='@Url.Action(isInWizard ? "LocationWizard" : "Location", "Filter", Model.FilterModel.ToRouteValues())' method="POST">
            <fieldset role="radiogroup" aria-required="true">
                <legend role="heading">
                    <h2 class="heading-large filter-heading">Find postgraduate teacher training</h2>
                </legend>
                <p>
                    Answer some questions to find the most relevant courses.
                </p>

                <div class="multiple-choice multiple-radio" data-target="location-selector">
                    @if (Model.Error == null && string.IsNullOrEmpty(Model.FilterModel.loc)) {
                        <input id="applyFilter-Yes" type="radio" name="applyFilter" value="true">
                    } else {
                        <input id="applyFilter-Yes" type="radio" name="applyFilter" value="true" checked>
                    }
                    <label for="applyFilter-Yes">Search by postcode, town or city</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="location-selector">
                    <label class="form-label" for="location">Postcode, town or city name</label>
                    <input class="form-control" name="lq" type="text" id="location" value="@Model.FilterModel.lq">
                    
                    <label class="form-label" for="radius">Within Radius</label>
                    <select class="form-control" id="radius" name="rad">
                        @foreach(var option in Enum.GetValues(typeof(RadiusOption)))
                        {
                            <option value="@((int) option)">@((int) option) miles</option>
                        }
                    </select>
                </div>

                <div class="multiple-choice multiple-radio">
                    @if (Model.Error == null && string.IsNullOrEmpty(Model.FilterModel.loc)) {
                        <input id="applyFilter-No" type="radio" name="applyFilter" value="false" checked>
                    } else {
                        <input id="applyFilter-No" type="radio" name="applyFilter" value="false">
                    }
                    <label for="applyFilter-No">Search across England</label>
                </div>
            </fieldset>
            
            <div class="filter-apply-button">
                <input class="button" type="submit" value="@(isInWizard ? "Next" : "Find courses")">
            </div>
        </form>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <p>Or</p>
        <details open="@(string.IsNullOrWhiteSpace(Model.FilterModel.query) == false)">

            <summary><span class="summary">Search by provider name</span></summary>

            <div class="panel panel-border-narrow">

                <form action='@Url.Action("FullText", "Filter", Model.FilterModel.ToRouteValues())' method="POST">
                    <fieldset aria-required="true">
                        <label class="form-label" for="query">Provider name</label>
                        <input class="form-control provider-typeahead" name="query" type="text" id="query" value="@Model.FilterModel.query">                        
                    </fieldset>
                    
                    <div class="filter-apply-button">
                        <input class="button button-secondary" type="submit" value="@("Search")">
                    </div>
                </form>
            </div>
        </details>
    </div>
</div> 
