@model QueryFilter

@{
    ViewBag.Title = $"Filter by Location";
    var isInWizard = ViewBag.IsInWizard == true;
}

@if(isInWizard) {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Home"),
        Title = "Return to start page"
    })
} else {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Results", Model.ToRouteValues()),
        Title = "Return to search results"
    })
}     

<div class="grid-row">
    <div class="column-full">
        <form action='@Url.Action(isInWizard ? "LocationWizard" : "Location", "Filter", Model.ToRouteValues())' method="POST">
            <fieldset role="radiogroup" aria-required="true">
                <legend role="heading">
                    <h3 class="heading-medium">Search for teacher training courses in England</h3>
                </legend>
                
                <div class="multiple-choice" data-target="location-selector">
                    <input id="applyFilter-Yes" type="radio" name="applyFilter" value="true">
                    <label for="applyFilter-Yes">Search by postcode, town or city</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="location-selector">
                    <label class="form-label" for="location">Postcode, town or city name</label>
                    <input class="form-control" name="loc" type="text" id="location">
                    
                    <label class="form-label" for="radius">Within Radius</label>
                    <select class="form-control" id="radius" name="rad">
                        @foreach(var option in Enum.GetValues(typeof(RadiusOption)))
                        {
                            <option value="@((int) option)">@((int) option) miles</option>
                        }
                    </select>
                </div>

                <div class="multiple-choice">
                    <input id="applyFilter-No" type="radio" name="applyFilter" value="false">
                    <label for="applyFilter-No">Search across England</label>
                </div>
            </fieldset>
            
            <div class="filter-apply-button">
                <input class="button" type="submit" value="@(isInWizard ? "Next" : "Find courses")">
            </div>
        </form>
    </div>
</div>
