@model LocationFilterViewModel

@{
    ViewBag.Title = $"Filter by location";
    var isInWizard = ViewBag.IsInWizard == true;
}

@if (isInWizard) {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Home"),
        Title = "Back to start"
    })
} else {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Results", Model.FilterModel.ToRouteValues()),
        Title = "Back to search results"
    })
}

<div class="grid-row">
    <div class="column-two-thirds">
        @Html.Partial("Error", Model.Errors)

        <form action='@Url.Action(isInWizard ? "LocationWizard" : "Location", "Filter", Model.FilterModel.ToRouteValues())' method="POST">
            <fieldset role="radiogroup" aria-required="true">
                <legend role="heading">
                    <h1 class="heading-xlarge">Choose your search</h1>
                </legend>

                <div class="form-group @(Model.Errors.HasError("l") ? "form-group-error" : "")" id="l-container">
                    <span class="error-message">@Model.Errors.GetError("l").Message</span>
                    <div class="multiple-choice" data-target="lq-container">
                        <input id="location-Set" type="radio" name="l" value="@((int)LocationOption.Yes)" checked="@(Model.FilterModel.LocationOption == LocationOption.Yes)">
                        <label for="location-Set">
                            By postcode, town or city
                        </label>
                    </div>
                    <div class="panel panel-border-narrow js-hidden @(Model.Errors.HasError("lq") ? "form-group-error" : "")" id="lq-container">
                        <div class="form-group">
                            <label class="form-label" for="location">
                                Postcode, town or city
                                <span class="error-message">@Model.Errors.GetError("lq").Message</span>
                            </label>
                            <input class="form-control typeahead" data-url="@Url.Action("LocationSuggest", "Dynamic")" name="lq" type="text" id="location" value="@Model.FilterModel.lq">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="radius">Within</label>
                            <select class="form-control" id="radius" name="rad">
                                @foreach(var option in Enum.GetValues(typeof(RadiusOption)))
                                {
                                    <option value="@((int) option)">@((int) option) miles</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="multiple-choice multiple-radio">
                        <input id="location-Unset" type="radio" name="l" value="@((int)LocationOption.No)" checked="@(Model.FilterModel.LocationOption == LocationOption.No)">
                        <label for="location-Unset">Across England</label>
                    </div>

                    <div class="multiple-choice multiple-radio" data-target="query-container">
                        <input id="location-Specific" type="radio" name="l" value="@((int)LocationOption.Specific)" checked="@(Model.FilterModel.LocationOption == LocationOption.Specific)">
                        <label for="location-Specific">By school, university or other training provider</label>
                    </div>

                    <div class="panel panel-border-narrow js-hidden @(Model.Errors.HasError("query") ? "form-group-error" : "")" id="query-container">
                        <fieldset aria-required="true">
                            <label class="form-label" for="query">
                                School, university or other training provider
                                <span class="error-message">@Model.Errors.GetError("query").Message</span>
                            </label>
                            <input class="form-control typeahead" data-url="@Url.Action("ProviderSuggest", "Dynamic")" name="query" type="text" id="query" value="@Model.FilterModel.query">
                        </fieldset>
                    </div>
                </div>
            </fieldset>

            <div class="filter-apply-button">
                <input class="button" type="submit" value="@(isInWizard ? "Next" : "Find courses")">
            </div>
        </form>
    </div>
</div>
