@model ResultsFilter

@{
  ViewBag.Title = $"Filter by qualification";
}

<div class="govuk-width-container">
  @await Html.PartialAsync("Back", new BackLinkViewModel { Href = Url.Action("Index", "Results", Model.ToRouteValues()), Title = "Back to search results"})
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action='@Url.Action("Qualification", "Filter", Model.ToRouteValues())' method="POST" data-ga-event-form="Qualification">
          <fieldset role="radiogroup" aria-required="true" class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-heading-xl">What you will get</h1>
            </legend>

            <div class="govuk-form-group">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input id="applyFilter-qts-only" class="govuk-checkboxes__input" type="checkbox" name="qualification" value="@QualificationOption.QtsOnly" checked="@Model.qualifications.Contains(Enum.GetName(typeof(QualificationOption), QualificationOption.QtsOnly))" data-ga-event-form-input="QTS only">
                  <label for="applyFilter-qts-only" class="govuk-label govuk-checkboxes__label">
                    <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-display-block">
                      QTS only
                    </span>
                    <p class="govuk-body">
                      QTS (qualified teacher status) allows you to teach in state schools in England.
                    </p>
                    <p class="govuk-body">
                      It may also allow you to teach in <a href="https://www.gov.uk/eu-eea" class="govuk-link">the EU, the EEA and Switzerland</a>. You should check with the institution you’d like to teach in for confirmation. The status of QTS in these countries may change after the UK leaves the EU. Please check <a href="https://www.gov.uk" class="govuk-link">GOV.UK</a> for updates.
                    </p>
                    <p class="govuk-body">
                      To teach in the rest of the UK or internationally, you may wish to consider a &lsquo;PGCE (or PGDE) with QTS&rsquo; qualification instead.
                    </p>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input id="applyFilter-pgce-pgde-with-qts" class="govuk-checkboxes__input" type="checkbox" name="qualification" value="@QualificationOption.PgdePgceWithQts" checked="@Model.qualifications.Contains(Enum.GetName(typeof(QualificationOption), QualificationOption.PgdePgceWithQts))" data-ga-event-form-input="PGCE / PGDE with QTS">
                  <label for="applyFilter-pgce-pgde-with-qts" class="govuk-label govuk-checkboxes__label">
                    <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-display-block">
                      PGCE (or PGDE) with QTS
                    </span>
                    <p class="govuk-body">
                      A PGCE (postgraduate certificate in education) with QTS allows you
                      to teach in England, Scotland, Wales and Northern Ireland. It&rsquo;s also
                      recognised internationally. Many PGCE courses include credits that
                      count towards a Master&rsquo;s degree.
                    </p>
                    <p class="govuk-body">
                      Some providers offer a PGDE (postgraduate diploma in education) with QTS,
                      which is equivalent to a PGCE. In some cases these courses offer more
                      credits towards a Master&rsquo;s degree than PGCE courses.
                    </p>
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input id="applyFilter-other" class="govuk-checkboxes__input" type="checkbox" name="qualification" value="@QualificationOption.Other" checked="@Model.qualifications.Contains(Enum.GetName(typeof(QualificationOption), QualificationOption.Other))" data-ga-event-form-input="Further Education">
                  <label for="applyFilter-other" class="govuk-label govuk-checkboxes__label">
                    <span class="govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-display-block">
                      Further education (PGCE or PGDE without QTS)
                     </span>
                    <span>
                      To teach further education you don&rsquo;t need QTS. Instead you can study
                      for a PGCE or PGDE without QTS.
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="govuk-form-group">
            <input type="hidden" name="qualification" value="">
            <input class="govuk-button" type="submit" value="Find courses">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
