@model SubjectFilterViewModel

@{
    ViewBag.Title = $"Filter by Subject";
    var selected = Model.FilterModel.SelectedSubjects;
}

@Html.Partial("Back", new BackLinkViewModel {
    Href = Url.Action("Index", "Results", Model.ToRouteValues()),
    Title = "Return to course search",
    AriaLabel = "Return to course search"
    })

<div class="grid-row">
    <div class="column-full">
        <form action='@Url.Action("Subject", "Filter", Model.FilterModel.ToRouteValues())' method="POST">
            <legend role="heading">
                <h3 class="heading-medium">What subjects would you like to teach?</h3>
                <span class="body-text">Select all that apply</span>
            </legend>
             @foreach (var area in Model.SubjectAreas) {
                <h4 class="heading-small">
                    @area.Name
                </h4>                
                <fieldset>
                   @foreach (var subject in area.Subjects.OrderBy(x => x.Name)) {
                        <div class="multiple-choice">
                            <input id="@("subject-" + subject.Id)"
                                name="SelectedSubjects"
                                type="checkbox"
                                checked="@selected.Contains(subject.Id)"
                                value="@(subject.Id)">
                            <label for="@("subject-" + subject.Id)">@subject.Name</label>
                        </div>
                    }
                </fieldset>
            }
                <div class="filter-apply-button">
                    <input class="button" type="submit" value="Find courses" role="button">
                </div>
        </form>
    </div>
</div>
