@model SubjectFilterViewModel

@{
    ViewBag.Title = $"Filter by Subject";
    var selected = Model.FilterModel.SelectedSubjects;
    var isInWizard = ViewBag.IsInWizard == true;
}


@if(isInWizard) {
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("LocationWizard", "Filter", Model.FilterModel.ToRouteValues()),
        Title = "Return to location selection"
    })
} else { 
    @Html.Partial("Back", new BackLinkViewModel {
        Href = Url.Action("Index", "Results", Model.FilterModel.ToRouteValues()),
        Title = "Return to search results"
    })
}

<div class="grid-row">
    <div class="column-full">
        <form action='@Url.Action(isInWizard ? "SubjectWizard" : "Subject", "Filter", Model.FilterModel.ToRouteValues())' method="POST">
            <legend role="heading">
                <h3 class="heading-medium">What subjects would you like to teach?</h3>
                <span class="body-text">Select all that apply</span>
            </legend>
             @foreach (var area in Model.SubjectAreas) {
                <h4 class="heading-small">
                    @area.Name
                </h4>                
                <fieldset>
                   @foreach (var subject in area.Subjects.OrderBy(x => x.Name)) {
                        <div class="multiple-choice">
                            <input id="@("subject-" + subject.Id)"
                                name="SelectedSubjects"
                                type="checkbox"
                                checked="@selected.Contains(subject.Id)"
                                value="@(subject.Id)">
                            <label for="@("subject-" + subject.Id)">@subject.Name</label>
                        </div>
                    }
                </fieldset>
            }
                <div class="filter-apply-button">
                    <input class="button" type="submit" value="@(isInWizard ? "Next" : "Find courses")" role="button">
                </div>
        </form>
    </div>
</div>
