@model ResultsViewModel

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body search-results__count">@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:n0}", Model.Courses.TotalCount) courses found</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body search-results__new-search">
      <a href='@Url.Action("LocationWizard", "Filter")' class="govuk-link">New search</a>
    </p>
  </div>
</div>

@if (string.IsNullOrWhiteSpace(Model.FilterModel.query))
{
  @Html.Partial("SortBy", Model)
}

<ul class="govuk-list search-results">
  @foreach (var item in Model.Courses.Items) {
    var subjects = @item.CourseSubjects.Select(courseSubject => courseSubject.Subject.Name).ToArray();

    <li>
      <h3 class="govuk-heading-m">
        <a href='@Url.Action("Index", "Course", new {courseCode = item.ProgrammeCode, providerCode = item.Provider.ProviderCode})' class="link">@item.Name with @item.Provider.Name</a>
      </h3>
      <dl class="govuk-list--description">
        @if (item.Distance != null) {
          <dt class="govuk-list--description__label">Distance</dt>
          <dd>
            @item.Distance.FormattedDistance()
            <span class="govuk-list--description__hint">
              to the training provider or their nearest training location
            </span>
          </dd>
        }
        @if(!string.IsNullOrEmpty(item.Mod) && item.Mod.Length > 1)
        {
          <dt class="govuk-list--description__label">Course offered</dt>
          <dd>@item.Mod</dd>
        }
        <dt class="govuk-list--description__label">Financial support</dt>
        <dd>@item.FundingOptions()</dd>
        @if (item.DistanceAddress != null || item.ProviderLocation != null) {
          <dt class="govuk-list--description__label">Nearest Location</dt>
          <dd>@((item.DistanceAddress ?? item.ProviderLocation.Address).Replace("\n", ", "))</dd>
        }
        @if (!string.IsNullOrEmpty(item.AccreditingProvider?.Name) && item.Provider.Name != item.AccreditingProvider?.Name)
        {
          <dt class="govuk-list--description__label">Accredited provider</dt>
          <dd>@item.AccreditingProvider.Name</dd>
        }
      </dl>
    </li>
  }
</ul>
@Html.Partial("Pagination", Model)
