@model List<SuggestedSearchViewModel>

<h3 class="heading-medium">Suggested searches</h3>

@if(Model.Any()) {
  var nearest = Model.FirstOrDefault(x => x.ResultsFilter.RadiusOption.HasValue);
  var england = Model.FirstOrDefault(x =>
    !(x.ResultsFilter.SelectedFunding == null || x.ResultsFilter.SelectedFunding == FundingOption.All)
      && x.ResultsFilter.SelectedFunding.Value.HasFlag(FundingOption.Salary)
      && x.ResultsFilter.LocationOption == LocationOption.No);

          <p>For business studies there are:</p>
          <ul class="list list-bullet">

          @if(nearest != null) {
            <li>
              <a href="@(Url.Action("Index", "Results", nearest.ResultsFilter.ToRouteValues()))">@nearest.TotalCount courses within @nearest.ResultsFilter.rad miles around @nearest.ResultsFilter.loc</a>
              </li>
          }

          @if(england != null) {
            <li>
              <a href="@(Url.Action("Index", "Results", england.ResultsFilter.ToRouteValues()))">@england.TotalCount courses with salaries available in England</a>
            </li>
          }
          </ul>
}

<p>
  You can <a href="https://www.ucas.com/ucas/teacher-training/ucas-teacher-training-search-training-programmes">seach for courses in other subjects</a> on the UCAS website..
</p>
